{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

<div class="flex flex-col items-center justify-center w-full border border-dotted border-slate-950 rounded">
  <form class="flex flex-col flex-wrap [&>*]:mb-4" method="POST" action="">
    {% csrf_token %}
    <span class="text-center font-bold text-7xl">¡Contactame!</span>
    <div class="w-full flex flex-col flex-wrap">
      <label for="">Nombre completo:</label>
      <input class="border border-[#9b9b9b] rounded-lg outline-none text-2xl py-[0.3%] px-[2%]" type="text" name="name_complete">
    </div>
    <div class="w-full flex flex-col flex-wrap">
      <label for="">Correo:</label>
      <input class="border border-[#9b9b9b] rounded-lg outline-none text-2xl py-[0.3%] px-[2%]" type="text" name="email">
    </div>
    <div class="w-full flex flex-col flex-wrap">
      <label for="">Mensaje:</label>
      <textarea class="border border-[#9b9b9b] rounded-lg outline-none text-2xl py-[0.3%] px-[2%]" name="message" id="" cols="1" rows="5"></textarea>
    </div>
    <button class="text-xl font-bold border border-[#9b9b9b] rounded-lg cursor-pointer hover:bg-gray-400 hover:text-white" type="submit">Enviar información</button>
  </form>
</div>
